body {
  background-color: rgb(222, 239, 245);
}

h1 {
  color: navy;
  margin-left: 20px;
}
#mapid {
  height: 600px;
  width: 890px;
}
aside {
  background: #f0f0f0;
  padding: 10px;
  float: right;
}

.label {
  font-size:medium;
  font-weight: bold;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}
